@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

fieldset{
    background-color: whitesmoke;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 20px;
    font-weight: 700;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
   
}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
   
}

button {
    border: none;
    background-color:rgb(71, 203, 255);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: center;
    border-radius: 200px;
    font-weight: 700;
    
  }
  button:hover {
    background-color:#04AA6D;
    color:whitesmoke;
  }
  
  
  
  